@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.ttf");
}

@mixin font-icomoon {
  font-family: "icomoon", Helvetica, Arial, sans-serif;
}

.icon-clear:before {
  @include font-icomoon;
  content: "\e902";
}

.icon-menu:before {
  @include font-icomoon;
  content: "\e900";
}

.icon-search:before {
  @include font-icomoon;
  content: "\e901";
}

.icon-send:before {
  @include font-icomoon;
  content: "\e903";
}
