@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/icons";

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717FF;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chats-bg {
    background: url('../assets/images/chats-bg.png') no-repeat center center fixed;
    background-size: cover;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #1A9CFF;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #006fb9;
  }
}